*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 18px 'Lucida', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

/* HEADER */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#carrinho-icon img {
    width: 50px;
}

#header, #main {
    margin: 0 128px;
}

#carrinho-icon {
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.produto-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 15px 0;
}

.produto {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    justify-content: space-between;
    align-items: center;    
    text-align: center;
    border: 3px solid black;
    padding: 10px 0;
    border-radius: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 140px;
}
.produtos {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produtos img {
    width: 150px;
}
.produto button {
    background-color: rgb(50, 52, 82);
    padding: 5px 8px;
    border-radius: 10px;
    color: white;
}
button{
    cursor: pointer;
}
.logo span {
    color: brown;
    font-size: 20px;
}
input {
    border: 2px solid black;
    border-radius: 15px ;
    padding: 8px 15px;
    width: 500px;
}

ul{
    list-style: none;
    text-align: center;
}

#carrinho-itens {
    border: 1px solid black;
    padding: 1px;
    position: absolute;
    left: 85%;
    text-align: center;
    top: 0%;
    background-color: white;
}
.add {
    background-color: greenyellow;
}
.remove {
    background-color: red;
}
.add, .remove {
    padding: 2px 5px;
    border-radius: 10px;
    width: 23px;
    color: white;
}

.limpa {
    background-color: darkgrey;

}
